* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 1em;
}

#app {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#calendar {
  background: #ccc;
  padding: 1.1em;
}

#clock {
  margin: auto;
  display: flex;
  width: 15em;
  background: #f7f7f7;
  padding: 5px;
}

.cell {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 5em;
  height: 5em;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:last-child {
  margin: 0;
}

.btn span, .cell span {
  font-size: 1.5em;
}

.btn:hover {
  background: #ccc;  
}